@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/*Шапка страницы*/
.header {
  background-size: cover;
  background-color: #6d6c69;
  background-image: url(../images/banner-bg.jpg);
  position: relative;
  padding-top: 30px;
  padding-bottom: 92px;
  margin-bottom: 65px;
}


@media (min-width: 641px) and (max-width: 1199px){
	.header {
	
	background-image: url(../images/banner-bg-tablet.jpg);
	}
}


@media screen and (max-width: 640px) {
	.header {
	
	background-image: url(../images/banner-mobile.jpg);
	}
}



.header:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 0;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 0 15px;
  z-index: 1;
  
}

.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-mobile {
    display: none;
}

@media (max-width: 640px){
.logo-nav {
    justify-content: flex-end;
	}
}

.logo img {
  width: 180px;
}
@media (min-width: 641px) and (max-width: 1199px){
.logo img {
    width: 160px;
	}
}

@media screen and (max-width: 640px) {
	
.logo {
    display: none;
	}

.logo-mobile{
    display: block;
    text-align: center;
    width: 75%;
    margin: 80px auto 0 auto;
	}
}



.menu-burger {
    display: none;
}

@media (max-width: 1199px){
.menu-burger {
    display: block;
    box-sizing: border-box;
	font-size: 30px;
	width: 1.25em;
	height: 1em;
    border: none;
    padding: 0;
    position: relative;
    cursor: pointer;
	background-color: #00000000;
	text-indent: -9999px;
	}
	
.menu-burger:before {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
	top: 0;
}

.menu-burger:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
	bottom: 0;
}

.menu-burger-button {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}	
	
}
.link-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 1199px){
.links{
display: none;
	}	

}	

.link-item {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.link-item:first-child {
  padding-left: 0;
}

.link-item:last-child {
  padding-right: 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 35px;
}

.headline {
  margin-top: 100px;
}

.headline h1 {
  max-width: 700px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) and (max-width: 1199px){
.headline h1  {
  max-width: 600px;
  font-size: 40px;
  line-height: 1.375;
	}
}
@media screen and (max-width: 640px) {

.headline{
	margin-top: 50px;
	margin-bottom: 100px;

}


.headline h1 {
    max-width: 550px;
    font-size: 40px;
    line-height: 1.38;
	
	}

}


/*Блок "В тренде"*/


.trend-title{
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
 }

.trend-title:after {
  content: "";
  display: block;
  width: 66px;
  padding-bottom: 10px;
  border-bottom: 3px solid #b59f5b;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
.trend-title {
	font-size: 28px;
	margin-bottom: 40px;
	}
	
.trend-title:after {
  width: 110px;
  padding-bottom: 20px;
  border-bottom: 5px solid #b59f5b;
  	}	

.trend-cards{
		
		position: relative;
	}	
}




.trend-cards{
   display: flex;
   flex-flow: row wrap;
   column-gap: 0.4%;
}


	

.trend-card{
	display: flex;
	position: relative;
	align-items: flex-end;
    width: 21%;
    flex-grow: 1;
    
    z-index: 1;
	padding: 5% 20px 20px;
}



.trends-garden {
	background: url("../images/trend1.jpg") no-repeat center center;
	background-size: cover;
}
.trends-cheese {
	background: url("../images/trend2.jpg") no-repeat center center;
	background-size: cover;
}
.trends-trip {
	background: url("../images/trend3.jpg") no-repeat center center;
	background-size: cover;
}
.trends-lemon {
	background: url("../images/trend4.jpg") no-repeat center center;
	background-size: cover;
}


.trend-card:before{
	content: "";	
	position: absolute;
	width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: 0;	
}	



@media (min-width: 641px) and (max-width: 1199px){
.trend-card {
    width: 45.8%;
	margin-bottom: 0.4%;
	padding: 5% 2% 2%;
	}
	
		
}

@media screen and (max-width: 640px) {
.product-card .product-content, .product-header, .product-text, .cost-buy {
	z-index: 1;
	position: relative;
}
.product-content::after {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: 0;
	border: none;	
}
.product-card .product-name, .product-card .product-text, .product-card .old-cost, .product-card .new-cost {
	color: #fffefe;
}
.product-text p span a {
	color: #f5c11a;
}
.product-foto {
	display: none;
}
.product-card .product-content {
    margin-top: 0;
}
.product-card:first-child .product-content {
	background: url(https://evgeniya774.github.io/Blog-about-creativity-sports-lifestyle/images/shop-item-mobile1.jpg);
	background-size: cover;
}
.product-card .product-content {
	background: url(https://evgeniya774.github.io/Blog-about-creativity-sports-lifestyle/images/shop-item-mobile2.jpg);
	background-size: cover;
}
.product-card:last-child .product-content {
	background: url(https://evgeniya774.github.io/Blog-about-creativity-sports-lifestyle/images/shop-item-mobile3.jpg);
	background-size: cover;
}
.card-foto img {
	max-height: 200px;
	object-fit: cover;
	object-position: center center;
}
.trend-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3px;
	height: 180px;
	}
	
	
.category-name a{
    font-size: 24px;
	}
}



.trend-description{
	
	padding: 28px 35px 0;
	border: 3px solid #b59f5b;
    z-index: 1;
}


.links-categories{
margin-bottom: 10px;
}

.trend-name{
  
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; 
  margin-bottom: 55px;
}


/*Основной блок страницы*/

.block {
  margin: 65px auto 70px;
  width: 1170px;
  padding: 0 15px;
}

@media (min-width: 641px) and (max-width: 1199px){
.block {
	width: 91%;
	
	}
		
}

.main-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

 @media screen and (max-width: 640px) {
.block {
	width: calc(100% - 30px);
	margin-left: auto;
    margin-right: auto;
	}
	
.main-aside {
 flex-direction: column;
  	}
 }	

.content {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  gap: 55px;
  margin-right: 65px;
}

 
@media (min-width: 641px) and (max-width: 1199px){
.content {
    margin-right: 35px;
	}
}

@media screen and (max-width: 640px) {
.content {
    margin-right: 0;
	}
	
}


.card {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1199px){
.card {
	flex-direction: column;
	}
}


.card-foto img {
  width: 23vw;
}

@media (max-width: 1199px){
.card-foto img {
width: 100%;
	}
}

.card-content {
  margin-left: 30px;
}

@media screen and (max-width: 1199px){
.card-content {
    margin-left: 0px;
	}
}


.list-categories {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.item-category {
  margin-right: 20px;
}

.category-name {
  font-size: 14px;
  line-height: normal;
  color: #b59f5b;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  margin: 0 0 35px;
  line-height: 20px;
}

.card-name {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.card-name:hover {
  color: #b59f5b;
}
.data-autor {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: normal;
}

.card-date {
  color: #888888;
  font-weight: 400;
}
.autor {
  margin-left: 15px;
  color: #000000;
  font-weight: 700;
}
.card-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 45px;
}

/*Боковая панель*/

.sidebar {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.title-slidebar {
  font-size: 14px;
  line-height: 16px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

/*Подчеркивание*/

.title-slidebar:after {
  content: "";
  display: block;
  width: 66px;
  padding-bottom: 10px;
  border-bottom: 3px solid #b59f5b;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 640px){
.sidebar {
	 width: 100%;
}
	
.sidebar-cards {
    margin-top: 45px;
    
	}
	
}

.sidebar-card {
  display: flex;
  flex-direction: row;
}

.picture img {
  width: 70px;
  position: relative;
}
.picture:after {
  background-color: #f4f7f6;
  position: absolute;
}

.card-excerpt {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  min-width: 180px;
}

.date-card {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}

.desc {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.desc:hover {
  color: #b59f5b;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

/*скрытое текстовое описание полей ввода и кнопки поиска с лупой*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Форма поиска*/

.finder {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  position: relative;
}

.finder:focus {
  heigh: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.finder-search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-group {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  width: 100%;
}

.search {
  height: 42px;
  width: 100%;
  background-color: #f4f7f6;
  padding-left: 20px;
  border-style: none;
}

.button {
  width: 48px;
  heigh: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  background-color: #b59f5b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
}
.button:hover {
  background-color: #323232;
}

/*Форма подписки*/

.subscription {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.subscription:focus {
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subs {
  display: block;
  heigh: 48px;
  line-height: normal;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  margin-top: 20px;
}

.subscription-group {
  heigh: 48px;
}

.field {
  height: 48px;
  margin-top: 0;
  padding-left: 25px;
  color: #000000;
  width: calc(100% - 28px);
  background-color: #f4f7f6;
  border-style: none;
}

.button-subs {
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  background-color: #b59f5b;
  font-weight: 700;
  margin-top: 17px;
  border: none;
}

.button-subs:hover {
  background-color: #323232;
}

/*Теги*/

.tags {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.title-tags {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.title-tags:after {
  content: "";
  display: block;
  width: 66px;
  padding-bottom: 15px;
  border-bottom: 3px solid #b59f5b;
  margin: auto;
}

.tags-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
  list-style-type: none;
  text-decoration: none;
  color: #0f0d0e;
  margin-top: 25px;
}

.tag-item {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 5px;
}

.tag-item:nth-child(3) {
  margin-right: 0;
}
.tag {
  color: #0f0d0e;
  text-decoration: none;
  margin-top: 5px;
  padding: 5px 15px;
  border: 3px solid #eeeeee;
}

/*Темы*/

.topics {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.title-topics {
  font-size: 14px;
  line-height: normal;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.title-topics:after {
  content: "";
  display: block;
  width: 66px;
  padding-bottom: 15px;
  border-bottom: 3px solid #b59f5b;
  margin: auto;
}

.topics-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  list-style-type: none;
  text-decoration: none;
  margin-top: 20px;
}

.topic-item {
  font-size: 14px;
  line-height: normal;
  border-bottom: 1px solid #eeeeee;
  font-weight: 700;
  margin-bottom: 20px;
}

.topic {
  color: #0f0d0e;
  text-decoration: none;
  margin-top: 10px;
}

.index {
  font-size: 12px;
  line-height: normal;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: super;
  padding-left: 5px;
}

/*Наши изделия*/

.products-title{
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
 }

.products-title:after {
  content: "";
  display: block;
  width: 66px;
  padding-bottom: 10px;
  border-bottom: 3px solid #b59f5b;
  margin-left: auto;
  margin-right: auto;
}	


.our-products{
	display: flex;
	justify-content: space-between;
	column-gap: 4%;      
}

@media (min-width: 641px) and (max-width: 1199px){
.our-products {
	flex-flow: row wrap;
	}
}

@media screen and (max-width: 640px) {
.our-products {
	    
	flex-direction: column;
	}
}


.product-card{
	display: flex;
	flex-direction: column;
	width: 30.6%;
	
}

@media (min-width: 641px) and (max-width: 1199px){
.product-card {
    width: 48%;
    margin-bottom: 25px;
	}
}

@media screen and (max-width: 640px) {
.product-card {
	width: 100%;
	margin-bottom: 25px;
	}
}


.product-foto{
	margin: auto;
	width: 80%;
}

.product-foto img{
	width: 100%;
}

.product-content{
	padding: 40px 20px 25px 20px;
    margin-top: -30px;
	border: 3px solid #b59f5b;
	flex-grow: 1;
}

.product-content:after{
	 border: 3px solid #b59f5b;
}

.product-name{
	font-size: 20px;
	color: #0f0d0e;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}



.product-name:hover {
  color: #b59f5b;
}

.product-text{
	font-size: 15px;
	color: #0f0d0e;
	font-weight: 400;
}

.product-text p{
	
	margin-top: -10px;
}



.product-text p span a{
color: #b59f5b;
text-decoration: none;
}


.cost-buy{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cost{
vertical-align: text-bottom;
}

.old-cost{
font-size: 14px;
text-decoration: line-through;
color: #0f0d0e;
font-weight: 700;	
}
	
.new-cost{
font-size: 20px;
color: #0f0d0e;
font-weight: 700;
}

.button-shop{
width: 140px;
height: 48px;
background-color: #b59f5b;	
font-size: 14px;
color: #ffffff;
font-weight: 700;
text-transform: uppercase;
border: none;
}

.button-shop:hover {
  background-color: #323232;
}


/*Подвал*/

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding: 0 15px;
    z-index: 1;
	}
	

@media (min-width: 641px) and (max-width: 1199px){
.container {
    width: 91%;
	}
}

.footer {
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.socials {
  margin-bottom: 70px;
}

.social-links {
  background-color: #f4f7f6;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icon {
  display: flex;
  flex-direction: row;
  width: 24px;
  heigh: 24px;
  background-size: 20px;
  padding: 12px;
  background-position: center;
}

.socials-link-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
  background-repeat: no-repeat;
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
  background-repeat: no-repeat;
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
  background-repeat: no-repeat;
}


/*Фидбек*/

.pop-up {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.7);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop-up-container {
	position: relative; 
	max-width: 330px;
	padding: 55px 20px;
	background-color: white;
	margin-left:auto;
	margin-right: auto;
	overflow: scroll;
}

@media (min-width: 641px) and (max-width: 1199px){
	
	.form-textarea {
		min-height: 50px;
		width: 100%;
		max-width: 310px;
	}
}

@media (min-width: 410px) and (max-width: 640px) {
	.pop-up-container {
		margin-left: 15px;
		margin-right: 15px;
		width: 80%;
}
	
	.form-textarea {
		min-height: 0px;
		width: 100%;
		max-width: 310px;
	}
	
}

@media screen and (max-width: 410px) {
	.pop-up-container {
		width: 80%;
	}
	
	.form-textarea {
		min-height: 0px;
		max-width: 93%;;
	}
}	
	
	

.feedback {
	font-size: 12px;

}

.section-title{
	text-align: center;
	text-transform: uppercase;
	
}


.section-title::after {
    content: "";
    display: block;
    width: 66px;
    padding-bottom: 10px;
    border-bottom: 3px solid #b59f5b;
    margin-left: auto;
    margin-right: auto;
}

.form-row {
	
	margin-bottom: 20px;
}
.question-select {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	padding: 13px 10px;
	font-size: inherit;
	color: grey;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: #f3f2f2 url(../svg/form-arrows.svg) no-repeat right 10px center;
	background-size: 8px;
}
.question-select:focus,
.question-select:hover {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}
.form-hint {
	display: block;
	margin-bottom: 30px;
}
.radio-group {
	display: inline-block;
}
.radio-group:nth-of-type(n+2) {
	margin-left: 5px;
}
.radio-group-text::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background: url("../svg/form-empty-circle.svg") no-repeat center center;
	background-size: 100%;
}
.radio {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
}
.radio:checked ~ .radio-group-text::before {
	background-image: url("../svg/form-circle.svg");
}



.form-textarea {
	width: 310px;
	min-height: 100px;
	resize: none;
	padding: 10px;
	margin-top: 10px;
	font: inherit;
	color: grey;
	background-color: #f3f2f2;
	border: none;
}
.form-textarea:hover,
.form-textarea:focus {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}
.send-button {
	width: 100%;
	padding: 15px;
	font-size: inherit;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #b59f5b;
	border: none;
}
.send-button:focus,
.send-button:hover {
	outline: 2px solid #b59f5b;
	outline-offset: 4px;
	color: black;
}
.popup-close {
	position: absolute;
	top: -20px;
	right: 0;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
	background-image: url("../svg/form-x.svg");
}




.meta {
  font-size: 12px;
  line-height: normal;
  color: #999999;
  font-weight: 700;
  text-decoration: none;
}
